@import '../../sass-lib/base/colors';
.logo{
  position: relative;
  padding-left: 80px;
  margin-top: 20px;
  &:after,&:before{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
  }
  &:before{
    background: $stormy;
    left: 0;
  }
  &:after{
    left: 20px;
    background: repeating-linear-gradient(-45deg,
      transparent,
      transparent 2px,
      $milesdavis 2px,
      $milesdavis 4px
    )
  }
}
