.grid-overlay{
  display: none;
  grid-template-columns: repeat(24, 1fr);
  @media screen and (max-width: 768px) {grid-template-columns: repeat(18, 1fr);}
  pointer-events: none;
  position: absolute;
  z-index: 9999999999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .grid-col{
    border-right: 1px solid red;
    &.mobile{
      @media screen and (max-width: 768px) {display: none;}
    }
  }
}
body.overlay .grid-overlay{
  display: grid;
}
