.logo{
  position: relative;
  min-height: 50px;
  line-height: 1.6;
  font-size: 3.0rem;
  text-transform: uppercase;
  letter-spacing: 2px;

  a{letter-spacing: 6px;}
  grid-column-start: 2;
  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
    padding-left: 0;
    margin-left: 0;
    &:after,&:before{
      width: 25px;
      height: 25px;
    }
    &:after{
      left: 10px;
    }
  }
}
