.logo{
  position: relative;
  padding-left: 110px;
  min-height: 50px;
  margin-left: 30px;
  line-height: 1.6;
  &:after,&:before{
    content: '';
    display: block;
    width: 53px;
    height: 53px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 0;
  }
  &:before{
    background: $stormy;
    left: 0;
  }
  &:after{
    left: 30px;
    background: repeating-linear-gradient(25deg,
      transparent,
      transparent 2px,
      $milesdavis 2px,
      $milesdavis 4px
    )
  }
}
