.about{
  align-items: center;
  transition: all .4s;
  .vertical-text h4{margin: 0;}
  .about-content{
    grid-column-start: 4;
    padding: 70px 0;
    background: white;
    box-shadow: 10px 10px 40px $stormy;
    position: relative;
    &:after, &:before{
      content: '';
      display: block;
      width: 1px;
      height: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      background: $radish;
    }
    &:before{top: 0;}
    &:after{bottom: 0;}
  }
  .copy{
    grid-column-start: 2;
    .bg{display: none;}
    color: $stormy;
    .copy-wrap{
      padding: 20px 0;
    }
    .copy-content{
      h3{
        padding-bottom: 10px;
      }
    }
  }
  .gallery{
    grid-column-start: 12;
  }
  @media screen and (max-width: 768px) {
    .gallery{
      display: none;
    }
  }
}
