.intro{
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: calc(100vh - 125px);
  max-height: 700px;
  align-items: center;
  .svg{
    grid-column-start: 4;
    padding-top: 40px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    svg{
      width: 100% !important;
      max-width: 800px;
    }
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(18, 1fr);
    margin-top: 60px;
    .copy.grid-col-10{
      grid-column-start: 1;
      grid-column-end: span 17;
    }
  }
}
