.intro{
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: calc(100vh - 125px);
  max-height: 700px;
  align-items: center;
  .svg{
    grid-column-start: 4;
    svg{
      width: 100% !important;
      max-width: 800px;
    }
  }
}
