.intro{
  margin-top: 125px;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  height: calc(100vh - 125px);
  min-height: 550px;
  max-height: 700px;
  align-items: center;
  margin-bottom: 50px;
  .svg{
    grid-column-start: 4;
    padding-top: 40px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    svg{
      width: 100%;
      max-width: 600px;
    }
  }
  .copy{
    grid-column-start: 13;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(18, 1fr);
    margin-top: 80px;
    height: auto;
    .copy.grid-col-10{
      grid-column-start: 1;
      grid-column-end: span 17;
      .bg{opacity: 0;}
      a.button{
        &:before{
          width: 50%;
        }
      }
      a.button .button-text{
        &:before{
          height: 0;
        }
      }
      a.button .button-arrow{
        transform: rotate(90deg) scale(.8);
        width: 20px;
        &:before,
        .button-arrow-head:before,
        .button-arrow-head:after{
          background: white;
        }
      }
    }
  }
}

// computer screen effect
@keyframes shake-vhs {
  30% {
    margin-left: 0;
  }
  60% {
    margin-left: .4vh;
  }
}

@keyframes scroll {
  30% {
    background-position: top;
  }
}
