.copy-header{
  display: grid;
  align-items: stretch;
  margin-bottom: 40px;

  span{
    &:before{
      content: '';
      display: block;
      position: relative;
      width: 70%;
      height: 1px;
      background: $radish;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
