.grid-overlay-ui{
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  button{
    display: inline-block;
    background: $radish;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  &.active{
    button{
      background: green;
    }
  }
}

.grid-overlay{
  display: none;
  grid-template-columns: repeat(24, 1fr);
  @media screen and (max-width: 768px) {grid-template-columns: repeat(18, 1fr);}
  pointer-events: none;
  position: fixed;
  z-index: 9999999999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  .grid-col{
    border-right: 1px solid red;
    &.mobile{
      @media screen and (max-width: 768px) {display: none;}
    }
  }
}
body.overlay .grid-overlay{
  display: grid;
}
