.intro-graphic-container{position: relative;}
.intro-graphic{
  border-radius: 50%;
  padding: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
    repeating-linear-gradient(25deg,
    transparent,
    transparent 2px,
    $milesdavis 2px,
    $milesdavis 4px;
  .inner{
    background: $blueberry;
    border-radius: 50%;

  }
}
