.navigation{
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: span 24;
  align-items: center;
  height: 125px;
  position: fixed;
  width: 100%;
  top: 0;
  background: transparentize($blueberry, .1);
  z-index: 100;
  .grid-18{
    grid-column: 4 / span 18;
    align-items: center;
  }
  ul,li{
    padding: 0;
  }
  ul{
    li{
      display: inline-block;
      margin-right: 60px;
      text-transform: uppercase;
      &:last-child{
        margin-right: 0;
      }
      a{
        opacity: .8;
        transition: all .4s;
        letter-spacing: 1px;
        &:hover,&.active{
          opacity: 1;
        }
      }
    }
  }
  .hamburger-btn{
    grid-column: 17;
    grid-row: 1;
    position: relative;
    z-index: 3;
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .hamburger{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    background: $blueberry;
    width: 100%;
    height: 100vh;
    opacity:0;
    pointer-events: none;
    transition: opacity .2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all .8s;
    .circle{
      width: 0;
      height: 0;
      background: $radish;
      position: absolute;
      border-radius: 50%;
    }
    ul li{
      display: block;
      position: relative;
      .borderElem{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 1px;
        width: 0;
        opacity: .7;
        background: rgba(255,255,255,.5);
        transition: all .2s ease-in-out;
      }
    }
    &.active{
      opacity:1;
      pointer-events: auto;
      background: $radish;
      ul{
        display: block;
        text-align: center;
        padding-top: 90px;
        width: 50%;
        margin: 0 auto;
        li{
          margin: 0;
          position: relative;
          display: block;
          padding-bottom: 80px;
          margin-bottom: 80px;
          opacity: 0;
          &.active{
            .borderElem{width: 50%;}
          }
          &:last-child{
            .borderElem{display: none;}
          }
          a{font-size: 2.0rem;opacity:1;}
        }
      }
    }
  }
  @media screen and (max-width: 768px){
    grid-template-columns: repeat(18, 1fr);
    grid-column: span 18;
    height: 90px;
    .grid-18{
      grid-column: 2 / span 16;
      align-items: center;
    }
    h1{
      grid-column: 1 / span 18;
      text-align: center;
      position: relative;
      z-index: 3;
      a{opacity: 1; transition: all .4s;}
    }
    &.active{
      h1{
        a{opacity: 0;};
      }
    }
    ul{
      display: none;
    }
  }
}
