.navigation{
  grid-column: 4 / span 18;
  align-items: center;
  height: 125px;
  ul,li{
    padding: 0;
  }
  ul{
    li{
      display: inline-block;
      margin-right: 60px;
      text-transform: uppercase;
      &:last-child{
        margin-right: 0;
      }
      a{
        opacity: .8;
        transition: all .4s;
        letter-spacing: 1px;
        &:hover,&.active{
          opacity: 1;
        }
      }
    }
  }
  @media screen and (max-width: 768px){
    grid-column: 2 / span 16;
    grid-template-columns: repeat(16, 1fr);
    height: 90px;
    h1{
      grid-column: 1 / span 16;
      text-align: center;
    }
    ul{
      display: none;
    }
  }
}
