*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html, body{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
  color: white;
  text-decoration: none;
}

ul,li{
  list-style: none;
}

.site-grid{
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  @media screen and (max-width: 768px){
    grid-template-columns: repeat(18, 1fr);
  }
}

.subgrid{
  display: subgrid;
}

@for $i from 2 through 20{
  .grid-#{$i}{
    display: grid;
    grid-template-columns: repeat(#{$i}, 1fr);
  }
}

@for $i from 1 through 24{
  .grid-col-#{$i}{
    grid-column: span #{$i}
  }
}

.observer{
  opacity: 0;
  transition: all 5s;
  position: relative;
  &.inview{
    opacity: 1;
  }
}
