@import '../../sass-lib/base/colors.scss';
.grid-overlay-ui{
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  button{
    display: inline-block;
    background: $radish;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  &.active{
    button{
      background: green;
    }
  }
}
